asgiref==3.11.0
cffi==2.0.0
cryptography==46.0.5
dj-database-url==3.1.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
google-auth==2.49.0
psycopg2-binary==2.9.11
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycparser==3.0
pyjwt==2.11.0
python-decouple==3.8
rsa==4.9.1
sqlparse==0.5.5
tzdata==2025.3
